@page "/product/{id:int?}"
@model ProductPageModel
@{
    var product = Model.product;
    var products = Model.productService.GetProducts();
}
<h1>@ViewData["Title"]</h1>
@if (product != null)
{
    <h2>@product.Name</h2>
    <p>Mo ta: @product.Description</p>
    <p>Gia: @product.Price</p>
    <p><a class="btn btn-dark" asp-page="ProductPage" asp-route-id="">Danh sach san pham</a>
    </p>
    <form method="post" asp-page="ProductPage" asp-page-handler="delete" asp-route-id="@product.Id">
        <button type="submit" class="btn-danger">Xoa san pham</button>
    </form>
    
}
else
{
    <ul>
     <p>Tong so san pham : @products.Count</p>
        @foreach(var p in products)
        {
            <li>
                <a asp-page="ProductPage" asp-route-id="@p.Id" >@p.Name</a>
                
            </li>
        }
        <hr />
        <p>
            <a class=" btn btn-dark" asp-page="ProductPage" asp-page-handler="lastproduct">
                Xem san pham cuoi
            </a>
        </p>
        <p>
            <a class=" btn btn-danger" asp-page="ProductPage" asp-page-handler="remove">
                Xoa tat ca san pham
            </a>
        </p>
        <p>
            <a class=" btn btn-success" asp-page="ProductPage" asp-page-handler="Load">
                Them san pham
            </a>
        </p>
    </ul>

}







